body {
  background-color: antiquewhite;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

img {
  width: 40vw;
  margin-right: 20px;
}

.recipe {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 40vw;
}

.ingredients {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80vw;
  margin: 10px;
}

ul > li {
  list-style: none;
  padding:5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
